<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartlibraryfx20230723183436.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/27edbf8c-b33b-460f-8d82-47970e211939/resourcegroups/CloudComputing/providers/Microsoft.Web/sites/SmartLibraryfx20230723183436</ResourceId>
    <UserName>$SmartLibraryfx20230723183436</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://smartlibraryfx20230723183436.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>